@import url('https://fonts.googleapis.com/css?family=Exo:900');
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed');
/* ^ I don't think I've ever used @import in my life 'til now, but google fonts suggested it */
header{
    text-align: center;
}
header h1{
    font-size: 50px;
    margin: 5px;
}
main{
    display: flex;
    flex-direction: column;
}
.middle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.answer{
    min-width: 300px;
    height: 600px;
    background: blue;
    flex: 2;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.answerHeading{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.hiddenAnswer{
    color: rgba(0,0,0,0);
    margin: 0 2px;
    border-bottom: 2px solid black;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 55px;
    height: 55px;
    width: 40px;
}

.wordBox{
    background: rgba(0,0,0,0);
    border: none;
    font-size: 30px;
    color: white;
    
}
.wordBox::placeholder{
    color: white;
    opacity: 0.5;
}
.startGame{
    border: none;
    background: rgba(0,0,0,0);
    text-align: center;
    font-size: 30px;
    height: 30px;
    line-height: 30px;
    color: white;
}
.right{
    min-width: 400px;
    height: 600px;
    background: orange;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.man{
    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px;
    text-align: center;
    font-size: 50px;
    font-family: 'Exo', sans-serif;
}
.head{
    border: 8px solid black;
    border-radius: 50%;
    grid-column: 2;
    grid-row: 1;
}
.leftarm{
    text-align: right;
    grid-column: 1;
    grid-row: 2;
}

.chest{
    border-top: 8px solid black;
    grid-column: 2;
    grid-row: 2;
}
.rightarm{
    text-align: left;
    grid-column: 3;
    grid-row: 2;
}
.waist{
    grid-column: 2;
    grid-row: 3;
    border-bottom: 8px solid black;
}
.leftleg{
    text-align: right;
    grid-column: 1;
    grid-row: 4;
}
.rightleg{
    text-align: left;
    grid-column: 3;
    grid-row: 4;
}

.letters{
    min-width: 400px;
    min-height: 60px;
    background: pink;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.letter{
    text-align: center;
    margin: 3px;
    background-color: lightblue;
    width: 40px;
    height: 40px;
    font-size: 40px;
    border: 2px solid white;
    user-select: none;
}
